.about {
  display: flex;
  justify-content: center;
}

.about-me {
  display: flex;
  align-items: center;
}

.about-me img {
  width: 20em;
}

.list-about-texts {
  display: flex;
}

.list-about-texts li {
  list-style: none;
  width: 300px;
  padding-right: 30px;
}
